@page
@model MovieWebApp.Pages.Catalog.IndexModel
@{
    ViewData["Title"] = "Catalog";
}
<!-- page title -->
<section class="section section--first section--bg" data-bg="images/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h1 class="section__title">Catalog grid</h1>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="/">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Catalog grid</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- filter -->
<div class="filter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" asp-page-handler="Filter" class="profile__form">
                    <div class="filter__content">
                        <div class="filter__items">
                            <!-- filter item -->
                            <div class="filter__item" id="filter__genre">
                                <span class="filter__item-label">GENRE:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="text" class="resize_input" value="Action" asp-for="genreName">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown"
                                    aria-labelledby="filter-genre">
                                    @if (@Model.GenreDTOs != null)
                                    {
                                        @foreach (var Genre in @Model.GenreDTOs)
                                        {
                                            <li>@Genre.GenreName</li>
                                        }
                                    }
                                    else
                                    {
                                        <li>Null</li>
                                    }
                                </ul>
                            </div>
                            <!-- end filter item -->
                            <!-- filter item -->
                            <div class="filter__item" id="filter__quality">
                                <span class="filter__item-label">QUALITY:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-quality"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="text" class="resize_input2" value="1080p60"
                                        asp-for="catalogFilterDTO.quality">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown"
                                    aria-labelledby="filter-quality">
                                    <li>1080p60</li>
                                    <li>720p60</li>
                                    <li>480p</li>
                                    <li>360p</li>
                                </ul>
                            </div>
                            <!-- end filter item -->
                            <!-- filter item -->
                            <div class="filter__item" id="filter__rate">
                                <span class="filter__item-label">IMBd:</span>

                                <div class="filter__item-btn dropdown-toggle" role="button" id="filter-rate"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="filter__range">
                                        <input type="text" class="resizenum" asp-for="catalogFilterDTO.ratingMin"
                                            value="2.5" />
                                        <p class="ratingLine"> - </p>
                                        <input type="text" class="resizenum" asp-for="catalogFilterDTO.ratingMax"
                                            value="8.6" />
                                    </div>
                                    <span></span>
                                </div>

                                <div class="filter__item-menu filter__item-menu--range dropdown-menu"
                                    aria-labelledby="filter-rate">
                                    <div id="filter__imbd"></div>
                                </div>
                            </div>
                            <!-- end filter item -->
                            <!-- filter item -->
                            <div class="filter__item" id="filter__year">
                                <span class="filter__item-label">RELEASE YEAR:</span>

                                <div class="filter__item-btn dropdown-toggle" role="button" id="filter-year"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="filter__range">
                                        <input type="text" class="resizenum2" asp-for="catalogFilterDTO.releaseTimeMin"
                                            value="2005" />
                                        <p class="ratingLine"> - </p>
                                        <input type="text" class="resizenum2" asp-for="catalogFilterDTO.releaseTimeMax"
                                            value="2015" />
                                    </div>
                                    <span></span>
                                </div>

                                <div class="filter__item-menu filter__item-menu--range dropdown-menu"
                                    aria-labelledby="filter-year">
                                    <div id="filter__years"></div>
                                </div>
                            </div>
                            <!-- end filter item -->
                        </div>

                        <!-- filter btn -->
                        <button class="filter__btn" type="submit">apply filter</button>
                        <!-- end filter btn -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end filter -->
<!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row row--grid">

            <!-- card -->
            @if (Model.MovieFilters != null)
            {
                @foreach (var movie in @Model.MovieFilters)
                {
                    @await Html.PartialAsync("Shared/Component/User/_MovieCardType3", movie, new
            ViewDataDictionary(ViewData) { {"UserClass", @Model.UserClass}})
                }
            }
            else
            {
                <h1 class="home__title" style="margin: 20px;">NO MOVIES OF THIS TYPE</h1>
            }
            <!-- end card -->
        </div>

    </div>
</div>
<!-- end catalog -->
<!-- expected premiere -->
<section class="section section--bg" data-bg="images/section/section.jpg">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title">Expected premium</h2>
            </div>
            <!-- end section title -->
        </div>

        <div class="row row--grid">


            <!-- card -->
            @if (Model.MoviePremiumDTOs != null)
            {
                @foreach (var movie in @Model.MoviePremiumDTOs)
                {
                    @await Html.PartialAsync("Shared/Component/User/_MovieCardType3", movie, new
            ViewDataDictionary(ViewData) { {"UserClass", @Model.UserClass}})
                }
            }
            else
            {
                <h1 class="home__title" style="margin: 20px;">NO MOVIES OF THIS TYPE</h1>
            }
            <!-- end card -->
            <!-- section btn -->
            @* <div class="col-12">
                <a href="#" class="section__btn">Show more</a>
                </div> *@
            <!-- end section btn -->
        </div>
    </div>
</section>
<!-- end expected premiere -->
