@page "{id?}"
@model MovieWebApp.Pages.Admin.Edit_user.IndexModel
@{
    ViewData["Title"] = "Edit User";
    ViewData["name"] = @Model.UserDTO.Profile.FirstName + " " + @Model.UserDTO.Profile.LastName;
    var hrefUserStatusId = "#userStatusAdmin" + Model.UserProfile.UserID;
    var UserStatusId = "userStatusAdmin" + Model.UserProfile.UserID;

    var hrefUserDeleteId = "#userDeleteAdmin" + Model.UserProfile.UserID;
    var UserDeleteId = "userDeleteAdmin" + Model.UserProfile.UserID;

    var RouteURL = "/admin/edit-user/" + Model.UserProfile.UserID;
}

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Edit user</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- profile -->
            <div class="col-12">
                <div class="profile__content">
                    <!-- profile user -->
                    <div class="profile__user">
                        <div class="profile__avatar">
                            <img src="~/images/user.svg" alt="">
                        </div>
                        <!-- or red -->
                        @if (@Model.UserProfile.status)
                        {
                            <div class="profile__meta profile__meta--green">
                                <h3>@Model.UserProfile.UserName <span>(Approved)</span></h3>
                                <span>@Model.UserProfile.Authorization.AuthorizationName</span>
                            </div>
                        }
                        else
                        {
                            <div class="profile__meta profile__meta--red">
                                <h3>@Model.UserProfile.UserName <span>(Banned)</span></h3>
                                <span>@Model.UserProfile.Authorization.AuthorizationName</span>
                            </div>
                        }
                    </div>
                    <!-- end profile user -->
                    <!-- profile tabs nav -->
                    <ul class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                                aria-selected="true">Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
                                aria-selected="false">Reviews</a>
                        </li>
                    </ul>
                    <!-- end profile tabs nav -->
                    <!-- profile mobile tabs nav -->
                    <div class="profile__mobile-tabs" id="profile__mobile-tabs">
                        <div class="profile__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="Profile">
                            <span></span>
                        </div>

                        <div class="profile__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab"
                                        href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Profile</a>
                                </li>

                                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3"
                                        role="tab" aria-controls="tab-3" aria-selected="false">Reviews</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end profile mobile tabs nav -->
                    <!-- profile btns -->
                    <div class="profile__actions">
                        <a href=@hrefUserStatusId class="profile__action profile__action--banned open-modal"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M12,13a1,1,0,0,0-1,1v3a1,1,0,0,0,2,0V14A1,1,0,0,0,12,13Zm5-4V7A5,5,0,0,0,7,7V9a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V12A3,3,0,0,0,17,9ZM9,7a3,3,0,0,1,6,0V9H9Zm9,12a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z" />
                            </svg></a>
                        <a href=@hrefUserDeleteId class="profile__action profile__action--delete open-modal"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z" />
                            </svg></a>
                    </div>
                    <!-- end profile btns -->
                </div>
            </div>
            <!-- end profile -->
            <!-- content tabs -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="col-12">
                        <div class="row">
                            <!-- details form -->
                            <div class="col-12 col-lg-6">
                                <form method="post" asp-page-handler="UpdateProfileForAdmin" class="profile__form">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="profile__title">Profile details</h4>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="profile__group">
                                                <label class="profile__label" for="username">Username</label>
                                                <input id="username" type="text" name="username" class="profile__input"
                                                    value=@Model.UserProfile.UserName disabled>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="profile__group">
                                                <label class="profile__label" for="email">Email</label>
                                                <input id="email" type="text" name="email" class="profile__input"
                                                    value=@Model.UserProfile.Profile.Email disabled>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="profile__group">
                                                <label class="profile__label" for="firstname">First Name</label>
                                                <input type="text" class="profile__input" placeholder="John"
                                                    asp-for="AdminEditUserProfileDTO.FirstName" disabled>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <div class="profile__group">
                                                <label class="profile__label" for="lastname">Last Name</label>
                                                <input type="text" class="profile__input" placeholder="Doe"
                                                    asp-for="AdminEditUserProfileDTO.LastName" disabled>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <label class="profile__label" for="subscription">Subscription</label>
                                            <select class="js-example-basic-single" id="subscription"
                                                asp-for="AdminEditUserProfileDTO.Subscription">
                                                <option value="Basic">Basic</option>
                                                <option value="Premium">Premium</option>
                                            </select>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                            <label class="profile__label" for="rights">Rights</label>
                                            <select class="js-example-basic-single" id="rights"
                                                asp-for="AdminEditUserProfileDTO.Right">
                                                <option value="User">User</option>
                                                <option value="Admin">Admin</option>
                                            </select>
                                        </div>

                                        <div class="col-12">
                                            <button class="profile__btn" type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- end details form -->
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                    <!-- table -->
                    <div class="col-12">
                        <div class="main__table-wrap">
                          
                                <table class="main__table">
                                    <thead>
                                        <tr>
                                            <th>SERIAL</th>
                                            <th>MOVIE NAME</th>
                                            <th>AUTHOR</th>
                                            <th>TEXT</th>
                                            <th>RATING</th>
                                            <th>CRAETED DATE</th>
                                            <th>ACTIONS</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    @if (Model.GetReviews != null)
                            {
                                        @for (int i = 0; i < @Model.GetReviews.Count; i++)
                                        {
                                            @await Html.PartialAsync("Shared/Component/Admin/_ReviewsItem",
                                    @Model.GetReviews[i],
                                    new ViewDataDictionary(ViewData) { { "serial", (i + 1) } })
                                        }

                            }
                                    </tbody>
                                </table>
                            
                        </div>
                    </div>
                    <!-- end table -->

                </div>
            </div>
            <!-- end content tabs -->
        </div>
    </div>
</main>
<!-- end main content -->

<!-- modal status -->
<div id=@UserStatusId class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Status change</h6>

    <p class="modal__text">Are you sure about immediately change status @Model.UserProfile.UserName?</p>

    <div class="modal__btns">
        <form action=@RouteURL method="GET" class="modal__btn modal__btn--apply">
            <input type="hidden" name="changeStatusUserAdmin" value=@Model.UserProfile.UserID>
            <button class="modal__btn modal__btn--apply" type="submit">Apply</button>
        </form>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>
<!-- end modal status -->
<!-- modal delete -->
<div id=@UserDeleteId class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">User delete</h6>

    <p class="modal__text">Are you sure to permanently delete @Model.UserProfile.UserName?</p>

    <div class="modal__btns">
        <form action=@RouteURL method="GET" class="modal__btn modal__btn--apply">
            <input type="hidden" name="deleteUserAdmin" value=@Model.UserProfile.UserID>
            <button class="modal__btn modal__btn--apply" type="submit">Delete</button>
        </form>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>
<!-- end modal delete -->
@section Scripts
{
<script>
    var checkMatchPass = false;
    var firstname = document.getElementById("firstname");
    var lastname = document.getElementById("lastname");
    var oldpass = document.getElementById("oldpass");
    var password = document.getElementById("newpass");
    var confirm_password = document.getElementById("confirmpass");

    function validatePassword() {

        if (password.value.length < 6) {
            password.setCustomValidity("Passwords must has geater than 6 character!");
        } else {
            password.setCustomValidity('');
            confirm_password.setCustomValidity('');
        }

        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords don't match");
            checkMatchPass = false;
        } else {
            confirm_password.setCustomValidity('');
            checkMatchPass = true;
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    function loading1() {
        if (oldpass !== "" && checkMatchPass) {
            loading = document.getElementById("loading");
            loading.hidden = false;
        }
    }
    function loading2() {
        if ((firstname.value != "" && lastname.value != "")) {
            loading = document.getElementById("loading");
            loading.hidden = false;
        }
    }

</script>
}