@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["name"] = @Model.UserDTO.Profile.FirstName + " " + @Model.UserDTO.Profile.LastName;
}


<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Dashboard</h2>

                    <a href="/admin/add-movie" class="main__title-link">add item</a>
                </div>
            </div>
            <!-- end main title -->
        </div>

        <div class="row row--grid">
            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Users created this month</span>
                    <p>@Model.StatisticsDTO.userCreatedCount</p>
                    <img src="images/admin/comments.svg" alt="">
                </div>
            </div>
            <!-- end stats -->
            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Movies added this month</span>
                    <p>@Model.StatisticsDTO.movieCreatedCount</p>
                    <img src="images/film.svg" alt="">
                </div>
            </div>
            <!-- end stats -->
            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Reviews reviewed this month</span>
                    <p>@Model.StatisticsDTO.reviewCreatedCount</p>
                    <img src="images/star-half-alt.svg" alt="">
                </div>
            </div>
            <!-- end stats -->
            <!-- stats -->
            <div class="col-12 col-sm-6 col-xl-3">
                <div class="stats">
                    <span>Total money gained</span>
                    <p>@Model.StatisticsDTO.totalMoneyGained $</p>
                    <img src="images/admin/graph-bar.svg" alt="">
                </div>
            </div>
            <!-- end stats -->
            <!-- dashbox -->
            <div class="col-12 col-xl-6">
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3><img src="images/admin/award.svg" alt=""> Top Movies</h3>

                        <div class="dashbox__wrap">
                            <a class="dashbox__refresh" href="/admin"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z" />
                                </svg></a>
                            <a class="dashbox__more" href="/admin/catalog">View All</a>
                        </div>
                    </div>

                    <div class="dashbox__table-wrap">
                        <table class="main__table main__table--dash">
                            <thead>
                                <tr>
                                    <th>SERIAL</th>
                                    <th>MOVIE NAME</th>
                                    <th>TYPE</th>
                                    <th>RATING</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TopMovies != null)
                                {
                                    @for (int i = 0; i < @Model.TopMovies.Count; i++)
                                    {
 @await Html.PartialAsync("Shared/Component/Admin/_DashboardTopMovies",@Model.TopMovies[i], new
                                ViewDataDictionary(ViewData) { {"serial", (i + 1)}})
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end dashbox -->
            <!-- dashbox -->
            <div class="col-12 col-xl-6">
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3><img src="images/admin/film.svg" alt=""> Latest Movies</h3>

                        <div class="dashbox__wrap">
                            <a class="dashbox__refresh" href="/admin"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z" />
                                </svg></a>
                            <a class="dashbox__more" href="/admin/catalog">View All</a>
                        </div>
                    </div>

                    <div class="dashbox__table-wrap">
                        <table class="main__table main__table--dash">
                            <thead>
                                <tr>
                                    <th>SERIAL</th>
                                    <th>MOVIE NAME</th>
                                    <th>TYPE</th>
                                    <th>STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.LatestMovies != null)
                                {
                                    @for (int i = 0; i < @Model.LatestMovies.Count; i++)
                                    {
 @await Html.PartialAsync("Shared/Component/Admin/_DashboardLatestMovies",@Model.LatestMovies[i], new
                                ViewDataDictionary(ViewData) { {"serial", (i + 1)}})
                                    }
                                }
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end dashbox -->
            <!-- dashbox -->
            <div class="col-12 col-xl-6">
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3><img src="images/admin/user-circle.svg" alt=""> Latest users</h3>

                        <div class="dashbox__wrap">
                            <a class="dashbox__refresh" href="/admin"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z" />
                                </svg></a>
                            <a class="dashbox__more" href="/admin/users">View All</a>
                        </div>
                    </div>

                    <div class="dashbox__table-wrap">
                        <table class="main__table main__table--dash">
                            <thead>
                                <tr>
                                    <th>SERIAL</th>
                                    <th>FULL NAME</th>
                                    <th>EMAIL</th>
                                    <th>USERNAME</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.LastestUsers != null)
                                {
                                    @for (int i = 0; i < @Model.LastestUsers.Count; i++)
                                    {
 @await Html.PartialAsync("Shared/Component/Admin/_DashboardLatestUsers",@Model.LastestUsers[i], new
                                ViewDataDictionary(ViewData) { {"serial", (i + 1)}})
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end dashbox -->
            <!-- dashbox -->
            <div class="col-12 col-xl-6">
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3><img src="images/star-half-alt.svg" alt=""> Latest reviews</h3>

                        <div class="dashbox__wrap">
                            <a class="dashbox__refresh" href="/admin"><svg xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M21,11a1,1,0,0,0-1,1,8.05,8.05,0,1,1-2.22-5.5h-2.4a1,1,0,0,0,0,2h4.53a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4.77A10,10,0,1,0,22,12,1,1,0,0,0,21,11Z" />
                                </svg></a>
                            <a class="dashbox__more" href="/admin/reviews">View All</a>
                        </div>
                    </div>

                    <div class="dashbox__table-wrap">
                        <table class="main__table main__table--dash">
                            <thead>
                                <tr>
                                    <th>SERIAL</th>
                                    <th>MOVIE NAME</th>
                                    <th>AUTHOR</th>
                                    <th>RATING</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.LatestReviews != null)
                                {
                                    @for (int i = 0; i < @Model.LatestReviews.Count; i++)
                                    {
 @await Html.PartialAsync("Shared/Component/Admin/_DashboardLatestReviews",@Model.LatestReviews[i], new
                                ViewDataDictionary(ViewData) { {"serial", (i + 1)}})
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end dashbox -->
        </div>
    </div>
</main>
<!-- end main content -->