@page "{id?}"
@model MovieWebApp.Pages.Detail.IndexModel
@{
    ViewData["Title"] = "Movie Details";
}
@Html.Hidden("Token",TempData["Token"])
@Html.Hidden("UserID",TempData["UserID"])
<!-- details -->
<section class="section details">
    <!-- details background -->
    <div class="details__bg" data-bg=@Model.MovieDTO.CoverImage></div>
    <!-- end details background -->
    <!-- details content -->
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <h1 class="details__title">@Model.MovieDTO.MovieName</h1>
            </div>
            <!-- end title -->
            <!-- content -->
            <div class="col-12 col-xl-6">
                <div class="card card--details">
                    <!-- card cover -->
                    <div class="card__cover">
                        <img src=@Model.MovieDTO.Thumbnail alt="">
                    </div>
                    <!-- end card cover -->
                    <!-- card content -->
                    <div class="card__content">
                        <div class="card__wrap">
                            <span class="card__rate"> @Model.MovieDTO.Rating</span>

                            <ul class="card__list">
                                <li>@Model.MovieDTO.Quality</li>
                                <li>@Model.MovieDTO.Age</li>
                            </ul>
                        </div>

                        <ul class="card__meta">
                            <li>
                                <span>Genre:</span>
                                @foreach (var item in Model.MovieDTO.Genres)
                                {
                                    <a href="#" class="disabled-link">@item</a>
                                }
                            </li>
                            <li><span>Release year:</span> @Model.MovieDTO.ReleaseTime</li>
                            <li><span>Running time:</span> @Model.MovieDTO.RunningTime min</li>
                            <li><span>Country:</span> <a href="#" class="disabled-link">@Model.MovieDTO.Country</a>
                            </li>
                        </ul>

                        <div class="card__description card__description--details">
                            @Model.MovieDTO.Description
                        </div>
                    </div>
                    <!-- end card content -->
                </div>
            </div>
            <!-- end content -->
            <!-- player -->
            <div class="col-12 col-xl-6">
                <video controls cross origin playsinline poster=@Model.MovieDTO.Thumbnail id="player">
                    <!-- Video files -->
                    <source src=@Model.MovieDTO.MovieURL type="video/mp4" size="360">
                    <source src=@Model.MovieDTO.MovieURL type="video/mp4" size="480">
                    <source src=@Model.MovieDTO.MovieURL type="video/mp4" size="720">
                    <source src=@Model.MovieDTO.MovieURL type="video/mp4" size="1080">

                    <!-- Caption files -->
                    <track kind="captions" label="English" srclang="en" src="" default>
                    <track kind="captions" label="VietNam" srclang="vn" src="">

                    <!-- Fallback for browsers that don't support the <video> element -->
                    <a href=@Model.MovieDTO.MovieURL download>Download</a>
                </video>
            </div>
            <!-- end player -->
        </div>
    </div>
    <!-- end details content -->
</section>
<!-- end details -->
<!-- content -->
<section class="content">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title">Discover</h2>
                    <!-- end content title -->
                    <!-- content tabs nav -->
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">

                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                                aria-selected="true">Reviews</a>
                        </li>

                    </ul>
                    <!-- end content tabs nav -->
                    <!-- content mobile tabs nav -->
                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs">
                            <input type="button" value="Reviews">
                            <span></span>
                        </div>
                    </div>
                    <!-- end content mobile tabs nav -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <!-- content tabs -->
                <div class="tab-content" id="myTabContent">


                    <div class="tab-pane fade show active" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                        <div class="row">
                            <!-- reviews -->
                            <div class="col-12">
                                <div class="reviews">
                                    <ul class="reviews__list">
                                        <!-- reviews item -->
                                        @if (Model.ReviewDTOs != null)
                                        {
                                            @foreach (var review in Model.ReviewDTOs)
                                            {
                                                @await Html.PartialAsync("Shared/Component/User/_ReviewItem", review)
                                            }
                                        }
                                        else
                                        {
                                            <h1 class="home__title" style="margin: 20px;">NO REVIEW OF THIS MOVIE</h1>
                                        }
                                        <!-- end reviews item -->
                                    </ul>
                                    <div class="form">
                                        <input type="text" class="form__input" placeholder="Title" id="reviewTitle"
                                            required>
                                        <textarea class="form__textarea" placeholder="Review" id="reviewContent"
                                            required></textarea>
                                        <div class="form__slider">
                                            <div class="form__slider-rating" id="slider__rating"></div>
                                            <input type="text" class="resizenum custom_review_input" id="rating"
                                                name="rating" value="8.6" />
                                        </div>
                                        <button type="submit" class="form__btn" id="sendReview">Send</button>
                                    </div>

                                </div>
                            </div>
                            <!-- end reviews -->
                        </div>
                    </div>

                </div>
                <!-- end content tabs -->
            </div>

            <!-- sidebar -->
            <div class="col-12 col-lg-4 col-xl-4">
                <div class="row row--grid">
                    <!-- section title -->
                    <div class="col-12">
                        <h2 class="section__title section__title--sidebar">You may also like...</h2>
                    </div>
                    <!-- end section title -->
                    <!-- card -->
                    @if (Model.MovieDTOs != null)
                    {
                        @foreach (var movie in @Model.MovieDTOs)
                        {
                            @await Html.PartialAsync("Shared/Component/User/_MovieCardType2",movie, new
                    ViewDataDictionary(ViewData) { {"UserClass", @Model.UserClass}})
                        }
                    }

                    <!-- end card -->

                </div>
            </div>
            <!-- end sidebar -->
        </div>
    </div>
</section>
<!-- end content -->
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src=~/js/review.js></script>