@model MovieAPI.Models.DTO.ReviewDTO
@{
    var serial = ViewData["serial"];
    var hrefReviewId = "#review" + Model.ReviewID;
    var hrefDelReviewId = "#Del" + Model.ReviewID;
    var ReviewId = "review" + Model.ReviewID;
    var DelRerviewId = "Del" + Model.ReviewID;
}
<tr>
    <td>
        <div class="main__table-text">@serial</div>
    </td>
    <td>
        <div class="main__table-text">@Model.MovieName</div>
    </td>
    <td>
        <div class="main__table-text">@Model.FirstName @Model.LastName</div>
    </td>
    <td>
        <div class="main__table-text">@Model.ReviewContent</div>
    </td>
    <td>
        <div class="main__table-text main__table-text--rate">@Model.Rating</div>
    </td>

    <td>
        <div class="main__table-text">@Model.ReviewTime</div>
    </td>
    <td>
        <div class="main__table-btns">
            <a href=@hrefReviewId class="main__table-btn main__table-btn--view open-modal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z" />
                </svg>
            </a>
            <a href=@hrefDelReviewId class="main__table-btn main__table-btn--delete open-modal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z" />
                </svg>
            </a>
        </div>
    </td>
</tr>
<!-- end main content -->
<!-- modal view -->
<div id=@ReviewId class="zoom-anim-dialog mfp-hide modal modal--view">
    <div class="reviews__autor">
        <img class="reviews__avatar" src="~/images/user.svg" alt="">
        <span class="reviews__name">@Model.Title</span>
        <span class="reviews__time">@Model.ReviewTime by @Model.FirstName @Model.LastName</span>

        <span class="reviews__rating">@Model.Rating</span>
    </div>
    <p class="reviews__text">@Model.ReviewContent</p>
</div>
<!-- end modal view -->
<!-- modal delete -->
<div id=@DelRerviewId class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Review delete</h6>

    <p class="modal__text">Are you sure to permanently delete this review?</p>

    <div class="modal__btns">
        <form action="/admin/reviews" method="GET">
            <input type="hidden" name="deleteReview" value=@Model.ReviewID>
            <button class="modal__btn modal__btn--apply" type="submit">Delete</button>
        </form>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>
<!-- end modal delete -->