@model MovieAPI.Models.DTO.UserChat
@{
    var serial = ViewData["serial"];
}
<tr class="supportsItem" id="@Model.userID">
    <td>
        <div id=@Model.userID class="main__table-text userID">@serial</div>
    </td>
    <td>
        <div class="main__user">
            <div class="main__avatar" style="height: 50px;">
                <img src=@Model.avatar alt="">
            </div>
            <div class="main__meta">
                <h3 class="fullname">@Model.firstName @Model.lastName</h3>
                <span>@Model.email</span>
            </div>
        </div>
    </td>
    <td>
        <div class="main__table-text main_table-content line-clamp ">@Model.message
        </div>
    </td>
    <td> </td>

    <td></td>

    <td></td>

    <td>
        <div class="main__table-text">@Model.time</div>
    </td>
    <td>
        @if (Model.isRead)
        {
            <div class="main__table-text main__table-text--red" id="chatStatus" ticketID ="@Model.ticketID">Old</div>
        }
        else
        {
            <div class="main__table-text main__table-text--green" id="chatStatus" ticketID="@Model.ticketID">New</div>
        }
    </td>
</tr>