@model MovieAPI.Models.DTO.UserAdminDTO
@{
    var serial = ViewData["serial"];
    var hrefUserStatusId = "#userStatus" + Model.userID;
    var UserStatusId = "userStatus" + Model.userID;

    var hrefUserDeleteId = "#userDelete" + Model.userID;
    var UserDeleteId = "userDelete" + Model.userID;

    var editUserRoute = "/admin/edit-user/" + Model.userID;

}
<tr>
    <td>
        <div class="main__table-text">@serial</div>
    </td>
    <td>
        <div class="main__user">
            <div class="main__avatar">
                <img src="~/images/user.svg" alt="">
            </div>
            <div class="main__meta">
                <h3>@Model.profile.firstName @Model.profile.lastName</h3>
                <span>@Model.profile.email</span>
            </div>
        </div>
    </td>
    <td>
        <div class="main__table-text">@Model.userName</div>
    </td>
    <td>
        <div class="main__table-text">@Model.profile.classification.className</div>
    </td>

    <td>
        <div class="main__table-text">@Model.numberOfReviews</div>
    </td>
    <td>
        @if (Model.status)
        {
            <div class="main__table-text main__table-text--green">Approved</div>
        }
        else
        {
            <div class="main__table-text main__table-text--red">Banned</div>
        }
    </td>
    <td>
        <div class="main__table-text">@Model.createAt</div>
    </td>
    <td>
        <div class="main__table-btns">
            <a href=@hrefUserStatusId class="main__table-btn main__table-btn--banned open-modal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M12,13a1,1,0,0,0-1,1v3a1,1,0,0,0,2,0V14A1,1,0,0,0,12,13Zm5-4V7A5,5,0,0,0,7,7V9a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V12A3,3,0,0,0,17,9ZM9,7a3,3,0,0,1,6,0V9H9Zm9,12a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z" />
                </svg>
            </a>
            <a href=@editUserRoute class="main__table-btn main__table-btn--edit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M5,18H9.24a1,1,0,0,0,.71-.29l6.92-6.93h0L19.71,8a1,1,0,0,0,0-1.42L15.47,2.29a1,1,0,0,0-1.42,0L11.23,5.12h0L4.29,12.05a1,1,0,0,0-.29.71V17A1,1,0,0,0,5,18ZM14.76,4.41l2.83,2.83L16.17,8.66,13.34,5.83ZM6,13.17l5.93-5.93,2.83,2.83L8.83,16H6ZM21,20H3a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z" />
                </svg>
            </a>
            <a href=@hrefUserDeleteId class="main__table-btn main__table-btn--delete open-modal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M20,6H16V5a3,3,0,0,0-3-3H11A3,3,0,0,0,8,5V6H4A1,1,0,0,0,4,8H5V19a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V8h1a1,1,0,0,0,0-2ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm7,14a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V8H17Z" />
                </svg>
            </a>
        </div>
    </td>
</tr>
<!-- modal status -->
<div id=@UserStatusId class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Change status user</h6>

    <p class="modal__text">Are you sure about immediately change status @Model.userName?</p>

    <div class="modal__btns">
        <form action="/admin/users" method="GET">
            <input type="hidden" name="changeStatusUser" value=@Model.userID>
            <button class="modal__btn modal__btn--apply" type="submit">Apply</button>
        </form>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>
<!-- end modal status -->
<!-- modal delete -->
<div id=@UserDeleteId class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Delete user </h6>

    <p class="modal__text">Are you sure to permanently delete @Model.userName?</p>

    <div class="modal__btns">
        <form action="/admin/users" method="GET">
            <input type="hidden" name="deleteUser" value=@Model.userID>
            <button class="modal__btn modal__btn--apply" type="submit">Delete</button>
        </form>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>
<!-- end modal delete -->
